.covid-section {
  background-color: #ffbdd8;
}

.covid-section .text {
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.covid-section .updates {
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;
}

.covid-section .container {
  max-width: 800px;
}

.covid-section .link p a {
  color: rgb(51, 51, 51);
}

.covid-section .section-header h3.section-subheading {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .covid-section .virus-icon {
    display: none;
  }
}
