.accept_decline_form {
  min-width: 300px;
  width: 50%;

  margin: auto;
  position: absolute;
  top: 49%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;

  text-align: left;
}

.accept_decline_form .btn-group {
  float: right;
}

.accept_decline_form .error {
  padding-left: 20px;
  font-size: medium;
  position: absolute;
  right: 70px;
}

.accept_decline_form .next {
  position: absolute;
  right: -5px;
}

@media (max-width: 768px) {
  .accept_decline_form .error {
    display: none;
  }
}
