.meal_form.carousel {
  position: absolute;
}

.meal_form {
  min-width: 300px;
  width: 50%;

  margin: auto;
  position: absolute;
  top: 49%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;

  text-align: left;
}

.meal_form .btn-group {
  float: right;
}

.meal_form .next {
  position: absolute;
  right: 0px;
}

.meal_form .back {
  margin-left: 5px;
}
