.party_leader_form {
  min-width: 300px;
  width: 50%;

  margin: auto;
  position: absolute;
  top: 48%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;

  text-align: left;
}

.party_leader_form .next {
  position: absolute;
  right: 0px;
}

.party_leader_form .back {
  position: absolute;
  left: 0px;
}
