.image-card {
  height: 491px;
  background-color: grey;

  .image {
    height: 491px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    div {
      background-color: grey;
      height: 100%;
    }
  }
  .no-padding {
    padding: 0;
  }
  .intro-text {
    padding-top: 80px;
    padding-bottom: 20px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      text-shadow: 2px 2px #000000;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}

.countdown {
  text-align: center;
}

.countdown_number {
  float: left;
  width: 33.33333333333%;
}

#secs,
#ms {
  width: 50%;
}

.countdown_number p.number {
  font-size: 7vh;
  text-shadow: 2px 2px #000000;
}

.countdown_number p {
  font-size: 2vw;
  text-shadow: 1px 1px #000000;
}

@media (min-width: 768px) {
  .image-card {
    height: 100vh;
    min-height: 800px;
    .image {
      height: 100vh;
      min-height: 800px;
    }
    .intro-text {
      padding-top: 350px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-top: 25px;
        margin-bottom: 0;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }

  .RSVPButton {
    margin-top: 50px;
    width: 150px;
  }

  .countdown_number {
    float: left;
    width: 20%;
  }

  .countdown_number p.number {
    font-size: 6vw;
  }

  #secs,
  #ms {
    width: 20%;
  }
}
