.registry-section a {
  color: $black;
}

.registry-section a.bg-light:hover,
.registry-section a.bg-light:focus {
  color: $black;
  background-color: #f8f9fa !important;
}

.registry-section .container {
  max-width: 800px;
}


.registry-section .text {
  text-align: center;
}

@media (max-width: 768px) {
  .registry-section .link-icon {
    display: none;
  }
}
